{% extends 'common.html' %}
{% load i18n %}
{% load account %}

{% block title %} Password Reset {% endblock %}

{% block content %}
    <section class="contact-img-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="con-text">
                            <h2 class="page-title">Email sent for password Reset</h2>
                            <p><a href="{% url 'MyApp:home' %}">account</a> | Password Reset</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <center style="margin-top: 100px">
    {% if user.is_authenticated %}
        {% include "account/already_logged_in.html" %}
    {% endif %}
    </center>
    <p><center style="margin-bottom: 100px;margin-top: 10px"><h4>We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.</h4></center></p>
    <script src="{% static 'js/vendor/jquery.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/sweetalert.min.js' %}"></script>
    <script>
        $('#password_reset').validate({
            rules: {
                email: "required",
            },
            messages: {
                email: 'Please enter your email id',
            },
        });

        $("form").submit(function (event) {
            event.preventDefault();
            var form = $(this);
            $.ajax({
                url: form.attr("data-validate-email-url"),
                data: form.serialize(),
                type: 'post',
                context: form,
                dataType: 'json',
                success: function(data) {
                    if (data.content) {
                        console.log(data);
                        if (!data.email) {
                            swal({'title': 'Invalid Email', 'text': data.error_message, icon: "warning"});
                        }
                         else {
                            this.off('submit');
                            this.submit();
                        }
                    }
                }
         });
         });
    </script>
{% endblock %}